################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StoreCatalog/StoreCatalog/bin/Debug/netcoreapp2.0
/StoreCatalog/StoreCatalog/obj/Debug/netcoreapp2.0
/StoreCatalog/StoreCatalog/obj
/.vs
/StoreCatalog/StoreCatalog.Contract/obj
/StoreCatalog/StoreCatalog.Contract/bin/Debug/netcoreapp2.0
/StoreCatalog/.vs