################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StoreCatalog/StoreCatalog/bin/Debug/netcoreapp2.0
